@page
@model ConfirmEmailFailureModel
@{
    ViewData["Title"] = "Email Confirmation";
}

<h2 class="urs_error_text">Email Confirmation</h2>
<h3 class="urs_error_text">We were unable to confirm your email address.</h3>
<h4 class="urs_error_text">Please contact: <a class="h4 urs-error-box" asp-page="/Contact">Technical Support</a> </h4>