@page
@model LoginWith2fa2Model
<!-- @{
    ViewData["Title"] = "Two-Factor Login Successful";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have succesfully logged-in </p>
</header> -->

@{ Response.Redirect("../Index");}