######################
# System Files
######################
.DS_Store
Thumbs.db
######################
# IDE
######################
.vscode/
.vs/
#lmsextreg.sln
######################
# C Sharp Files
######################
DataSeed.cs