@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<h3 style="margin-top:2rem;">@Model.Message</h3>
<p>The GSA Learning Academy (LA) User Registration Site (URS) is a GSA owned solution to allow for the registration of GSA customers to use the customer learning management system (LMS) portal. Once a GSA customer has registered through this site and the submission is approved by the assigned GSA Program Manager, access will be provisioned to the requested GSA Learning Academy Program.</p>
