@page
@model AboutModel
@{
    ViewData["Title"] = "Learning Academy Programs";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<!-- <h3 style="margin-top:2rem;">@Model.Message</h3> -->
<h3 class="urs-welcome-title">Learning Academy Programs</h3>
<h4 class="urs-program-title">Federal Fleet Management Certification Program</h4>
<p class="urs-program-text">GSA’s Office of Fleet Management is the federal government’s source for all non-tactical vehicle purchasing and leasing solutions. GSA Fleet’s mission is to provide safe, reliable, low cost vehicle solutions to assist federal agencies in effectively and efficiently meeting their mission and federal mandates.  For more information about GSA Fleet’s leasing and purchasing programs visit <a class="program-link" target="_blank" href="https://gsa.gov/gsafleet">https://gsa.gov/gsafleet</a>.</p>
<p class="urs-program-text">The Federal Fleet Manager Certification Program (FFMCP) was developed by the U.S. General Services Administration's (GSA) Office of Fleet Management in conjunction with the Office of Governmentwide Policy to provide training to Fleet Managers of all levels. The FFMCP is a comprehensive fleet management training program specific to federal fleet management.</p>
<p class="urs-program-text">The program consists of six core courses and your choice of elective courses. Once a participant successfully completes the six core courses, in sequential order following the vehicle lifecycle, and the required number of elective courses, a program certificate will be issued. Upon program completion you should have an overall understanding of the regulations and processes applicable to federal fleets as well as best practices for management. This program does not replace any agency-specific guidance or training.</p>
<h4 class="urs-program-title">FEDSIM Learning Academy Outreach Program</h4>
<p class="urs-program-text">FEDSIM is a Client Support Center within the General Services Administration’s (GSA) Office of Assisted Acquisition Services (AAS). FEDSIM is the leading provider of assisted acquisition services for federal agencies. Our services include acquisition, financial, and project management for the full acquisition life cycle. For more information about GSA FEDSIM’s services and projects visit <a class="program-link" target="_blank" href="https://fedsim.gsa.gov/">fedsim.gsa.gov</a>.</p>
<p class="urs-program-text">The FEDSIM Learning Academy (FLA) was developed by FEDSIM to provide federal acquisition training to other Agencies. The FEDSIM Learning Academy contains comprehensive training courses specific to FEDSIM’s assisted acquisition practices and processes.</p>
<p class="urs-program-text">The program consists of twenty elective courses. Upon completion of offered courses you should have gained a basic working knowledge of the FEDSIM assisted acquisition practices and processes. This program does not replace any agency-specific guidance or training.</p>
