@page
@model ProgramSupportModel
@{
    ViewData["Title"] = "Program Support";
}
<h2 class="text-center">@ViewData["Title"]</h2>

<div class="card w-75 mt-5">
    <div class="card-header h3">Fleet Management</div>
    <div class="card-body pb-1">
        <h5 class="card-title">Please contact the Fleet Management team if you have a specific question regarding this program.</h5>
    </div>
    <div class="card-footer">
        <a href="mailto:fleet_training@gsa.gov" target="_blank" class="text-primary font-weight-bold">fleet_training@gsa.gov</a>
    </div>
</div>
<div class="card w-75 mt-5">
    <div class="card-header h3">FEDSIM Learning Academy Outreach Program</div>
    <div class="card-body pb-1">
        <h5 class="card-title">Please contact the FEDSIM team at if you have a specific question regarding this program.</h5>
    </div>
    <div class="card-footer">
        <a href="mailto:fedsim.university@gsa.gov" target="_blank" class="text-primary font-weight-bold">fedsim.university@gsa.gov</a>
    </div>
</div>